<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meus Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let product of productsList" (click)="onProductClick(product)">
    <img [src]="product?.img">
    <ion-card-header>
      <ion-card-subtitle>{{typesList[product.type]}}</ion-card-subtitle>
      <ion-card-title>{{product.title}}</ion-card-title>
      <ion-card-title>{{product.price | currency : 'BRL' : true: '1.2-2'}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{product.desc}}
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddBtnClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
