<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-list slot="end">
      <ion-item>
        <ion-select interface="popover" placeholder="O que esta procurando?">
          <ion-select-option value="0">Tudo</ion-select-option>
          <ion-select-option value="1">Celulares</ion-select-option>
          <ion-select-option value="2">Móveis</ion-select-option>
          <ion-select-option value="3">Eletrodoméstico</ion-select-option>
          <ion-select-option value="4">Utilidades Domésticas</ion-select-option>
          <ion-select-option value="5">Tv e Vídeo</ion-select-option>
          <ion-select-option value="6">Informática</ion-select-option>
          <ion-select-option value="7">Serviços</ion-select-option>
          <ion-select-option value="8">Comida</ion-select-option>
          <ion-select-option value="9">Roupas e Calçados</ion-select-option>
          <ion-select-option value="10">Acessórios de Vestuário</ion-select-option>
          <ion-select-option value="11">Outros</ion-select-option>
        </ion-select>
      </ion-item>
    
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let product of productsList" (click)="onProductClick(product)">
    <img [src]="product?.img">
    <ion-card-header>
      <ion-card-subtitle>{{typesList[product.type]}}</ion-card-subtitle>
      <ion-card-title>{{product.title}}</ion-card-title>
      <ion-card-title>{{product.price | currency : 'BRL' : true: '1.2-2'}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{product.desc}}
    </ion-card-content>
  </ion-card>
</ion-content>
