<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-list slot="end">
      <ion-item>
        <ion-select interface="popover" placeholder="O que esta procurando?">
          <ion-select-option value="0">Tudo</ion-select-option>
          <ion-select-option value="1">Celulares</ion-select-option>
          <ion-select-option value="2">Móveis</ion-select-option>
          <ion-select-option value="3">Eletrodoméstico</ion-select-option>
          <ion-select-option value="4">Utilidades Domésticas</ion-select-option>
          <ion-select-option value="5">Tv e Vídeo</ion-select-option>
          <ion-select-option value="6">Informática</ion-select-option>
          <ion-select-option value="7">Serviços</ion-select-option>
          <ion-select-option value="8">Comida</ion-select-option>
          <ion-select-option value="9">Roupas e Calçados</ion-select-option>
          <ion-select-option value="10">Acessórios de Vestuário</ion-select-option>
          <ion-select-option value="11">Outros</ion-select-option>
        </ion-select>
      </ion-item>
    
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../../assets/download.jpg">
    <ion-card-header>
      <ion-card-subtitle>Outros</ion-card-subtitle>
      <ion-card-title>Telescópio</ion-card-title>
      <ion-card-title>R$ 300,00</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Telescópio semi novo...
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img src="../../assets/LOT-0020-461_zoom1.jpg">
    <ion-card-header>
      <ion-card-subtitle>Acessórios de Vestuário</ion-card-subtitle>
      <ion-card-title>Bolsa</ion-card-title>
      <ion-card-title>R$ 50,00</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Bolsa rosa com carteira rosa...
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/images.jpg">
    <ion-card-header>
      <ion-card-subtitle>Comida</ion-card-subtitle>
      <ion-card-title>Marmitex</ion-card-title>
      <ion-card-title>R$ 20,00</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Vendo marmitex com várias misturas...
    </ion-card-content>
  </ion-card>
</ion-content>
